html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
}

.img-banner {
  width: 100%;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
  transform: translateX(15%);
}

.banner-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 45em;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.banner-text h2, p {
  margin: 0;
}

.banner-text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  line-height: 1.25;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  border-color: #333;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
